
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
} 
/* gallery section starts */
.gallery{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/bg.jpg') ; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
}

.gallery-header {
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    padding: 0;
}

.gallery-header h1 {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}


.gallery-wrapper {
    position: relative;
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
}


.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%; 
}

.gallery-item {
    width: 250px;
    height: auto;
    margin: 0 10px;
    flex-shrink: 0;
    transition: transform 0.3s ease, width 0.3s ease;
    text-align: center;
    padding: 30px;
    opacity: 0.6;
    color: white;
}

.gallery-item img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.gallery-item p {
    margin: 5px 0 0 0;
    font-size: 1rem;
}

.gallery-item.center {
    width: 260px;
    height: 310px;
    transform: scale(1.1);
    opacity: 1; 
}


.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 1;
}

.left-btn {
    left: 20px;
}

.right-btn {
    right: 20px;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Optional: Mobile responsiveness */
@media (max-width: 768px) {
    .gallery-item {
        width: 150px;
        height: auto;
    }

    .gallery-item.center {
        width: 200px;
        height: 250px;
        transform: scale(1.1);
    }
}

/* gallery section ends */



/* tournamnts section starts */

.tournament{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/img4.jpg') ; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
/* tournamnts section ends */

/* history style  starts*/
.history-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: auto; 
    width: 100%;
    overflow: hidden;
  }
  
  .left-section, .right-section {
    width: 100%;
    box-sizing: border-box;
}
  .left-section {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center content vertically */
    width: 100%;
    background-color: #2f855a;
    color: white;
    padding: 40px;
    box-sizing: border-box; 
   
    width: 100%;
  
    
  }
  .left-section .title {
    font-size: 48px; 
}

.left-section .image-container {
    width: 300px; 
    height: auto; 
}
.left-section .award-image {
    width: 100%;
    height: auto; 
}

.right-section {
    width: 100%; 
    background-color: white;
    padding: 50px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
  
 
.title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 40px;
  }
  
.image-container {
    border: 4px solid #9f7aea;
    width: 288px;
    height: 288px;
  }
  
.award-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
 
.right-section {
    width: 100%;
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
.awards-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
 
  }
  
.award-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    
  }
  
.award-icon {
    width: 64px;
    height: 64px;
    margin-top: 20px;
    border-radius: 50%;
  }
  
.award-year {
    color: #e53e3e;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
.award-description {
    color: #4a5568;
    font-size: 16px;
    line-height: 1.5;
    text-align:center ;
  }

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .history-container {
        flex-direction: column; 
    }
    .left-section{
        flex-direction: column;
        align-items: center;
    }

    .left-section, .right-section {
        width: 100%; 
      
    }
    

    .award-item {
        flex-direction: column; 
        align-items: center; 
    }

    .award-icon {
        margin-top: 20px;
}
}
@media (max-width: 480px) {
    

    .title{
        font-size: 28px; 
    }

    .award-year {
        font-size: 20px;
    }

    .award-description {
        font-size: 12px; 
    }
}

/* history style  ends*/




  /* sponser page style start */
  .bg-sponsors {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('assets/img3.jpeg');
    background-size: cover;
    background-position: center;
}
@media (max-width: 768px) {
    .grid-cols-1 {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }

    .grid-cols-2 {
        grid-template-columns: repeat(1, 1fr); /* 1 column on extra small screens */
    }
}
/* sponser page style ends */




/* Footer Styling  starts*/
.footer{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('assets/d2.jpg');
    z-index: 1; 
    background-size: cover;
    background-position: center;
    margin: 0;
    box-sizing: border-box; 
    color: white; 
    padding: 40px 20px;
    text-align: center; 
    text-decoration: none;
}

.footer-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0;
}
.footer-column {
    flex: 1; 
    min-width: 200px; 
    margin: 0 20px;
    box-sizing: border-box;
 }

.footer-heading {
    font-size: 1.5rem;
    margin-bottom: 10px; 
    font-weight: bold; 
}
.footer-links,
.social-links {
    list-style: none; 
    padding: 0;
    margin: 0;
}
.footer-links li,
.social-links li {
    margin-bottom: 10px; 
}
.footer-links a,
.social-links a {
    color: white; 
    text-decoration: none; 
    transition: color 0.3s; 
}
.footer-links a:hover,
.social-links a:hover {
    color: #ddd; 
}

.social-icon {
    font-size: 1.5rem; 
    margin-right:  10px; 
}
.footer-bottom {
    margin-top: 20px; 
    font-size: 0.8rem; 
}
/* Responsive design adjustments */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; 
        align-items: center;
    }
    .footer-column {
        margin: 10px 0; 
    }
}  
/* footer style ends */

/* General Responsive Styles */
@media (max-width: 1024px) {
    /* Adjustments for tablets and smaller screens */
    body {
        font-size: 14px;
    }

    /* Adjust container widths and margins */
    .container {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    /* Adjustments for mobile devices */
    body {
        font-size: 12px;
    }

    .footer {
        padding: 20px;
    }

    .footer-heading {
        font-size: 1.2rem;
    }

    .footer-bottom {
        font-size: 0.7rem;
    }
}
